<launch>
  <node name="buildingModelLoader"          pkg="/graph_mapping_tool"  type="buildingModelLoader" output="screen">
  <param name="directory"         type="string" value="/home/wws/Downloads/midundao20190606/MongKok.kml"/>  
  <param name="resolution"     	  type="int"    value="2"/>
  <param name="saved_skymask_dir" type="string" value="/home/wws/Downloads/midundao20190606/skymask/"/>
  <param name="mannually_set_ref_llh"  type="bool"    value="true"/>
  <param name="ref_lat"     	  type="double"    value="22.3111737354"/>
  <param name="ref_lon"     	  type="double"    value="114.16931259"/>
  <param name="ref_alt"     	  type="double"    value="6"/>
  <param name="ENU_LiDAR_Angle"     	  type="double"    value="0"/>
  </node>
</launch>
